.container__big-card {
  width: 520px;
  height: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 10px;
}

.container__big-card h1 {
  margin-top: 25px;
  font-size: 28px;
}

.big-card__description {
  margin-top: 10px;
}

.big-card__description p {
  color: gray;

}

.big-card__photo img {
  width: 520px;
  height: 400px;
  min-width: 400px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 7px 5px 0px 14px rgba(158, 0, 255, 0.75);
  -webkit-box-shadow: 7px 5px 0px 14px rgba(158, 0, 255, 0.75);
  -moz-box-shadow: 7px 5px 0px 14px rgba(158, 0, 255, 0.75);
}